// Ads
// Video Slider
script(type='application/javascript' src='https://a.exdynsrv.com/video-slider.js')
script(type='application/javascript').
  var adConfig = {
  "idzone": 4916720,
  "frequency_period": 0,
  "close_after": 15,
  "on_complete": "repeat",
  "branding_enabled": 0,
  "screen_density": 30,
  "cta_enabled": 0
  };
  ExoVideoSlider.init(adConfig);

// Ads
// In Page Push Notifications
script(async='' type='application/javascript' src='https://a.exdynsrv.com/ad-provider.js')
ins.adsbyexoclick(data-zoneid='4916722')
script.
  (AdProvider = window.AdProvider || []).push({"serve": {}});

// Ads
// Desktop Fullpage Interstitial
script(type='application/javascript' data-idzone='4916724' data-ad_frequency_count='1' data-ad_frequency_period='5' data-type='desktop' data-browser_settings='1' data-ad_trigger_method='3' src='https://a.exdynsrv.com/fp-interstitial.js')

// Ads
// Mobile Fullpage Interstitial
script(type='application/javascript' data-idzone='4916726' data-ad_frequency_count='1' data-ad_frequency_period='5' data-type='mobile' data-browser_settings='1' data-ad_trigger_method='3' src='https://a.exdynsrv.com/fp-interstitial.js')
