footer.footer
  .container.text-right
    span.text-muted
      a.btn.btn-link(href='/about' target='_blank') About
      a.btn.btn-link(href='/contact' target='_blank') Contact
      a.btn.btn-link(href='/') Home
