// Video Slider Ads
script(type='application/javascript' src='https://a.realsrv.com/video-slider.js')
script(type='application/javascript').
  var adConfig = {
  "idzone": 4415476,
  "frequency_period": 0,
  "close_after": 15,
  "on_complete": "repeat",
  "branding_enabled": 0,
  "screen_density": 30,
  "cta_enabled": 0
  };
  ExoVideoSlider.init(adConfig);
