footer.footer
  div(style='height:502px; text-align:center;')
    script(async='' type='application/javascript' src='https://a.exdynsrv.com/ad-provider.js')
    ins.adsbyexoclick(data-zoneid='4949790')
    script.
      (AdProvider = window.AdProvider || []).push({"serve": {}});
  .container.text-right
    span.text-muted
      a.btn.btn-link(href='/about' target='_blank') About
      a.btn.btn-link(href='/contact' target='_blank') Contact
      a.btn.btn-link(href='/') Home
