footer.footer
  .container.text-right
    span.text-muted
      a.btn.btn-link(href='https://about_us' target='_blank') About us
      a.btn.btn-link(href='https://contact_us' target='_blank') Contact us
