footer.footer
  .container.text-right
    span.text-muted
      a.btn.btn-link(href='https://your_site_here/dropden' target='_blank') About
      a.btn.btn-link(href='https://your_site_here/contact' target='_blank') Contact
      a.btn.btn-link(href='https://dropden.com') Home
