// Monetag Vignette Banner
script.
  (function(d,z,s){s.src='https://'+d+'/401/'+z;try{(document.body||document.documentElement).appendChild(s)}catch(e){}})('glizauvo.net',6217315,document.createElement('script'))
// Monetag Banner Interstitial
script(async='async' data-cfasync='false' src='//thubanoa.com/1?z=7313506')
// Adsterra Pop-Under
script(type='text/javascript' src='//remainmother.com/f9/2f/a8/f92fa83e3e459ff886ba8205be37169c.js')
// Adsterra Social Bar
script(type='text/javascript' src='//remainmother.com/1c/ab/ec/1cabec1dc40bbda11882d2dc67909a4d.js')
