// A-P-U
script(type='text/javascript' src='//remainmother.com/f9/2f/a8/f92fa83e3e459ff886ba8205be37169c.js')
// A-S-B
script(type='text/javascript' src='//remainmother.com/1c/ab/ec/1cabec1dc40bbda11882d2dc67909a4d.js')
