footer.footer
  div(style='height:502px; text-align:center;')
  // ExoClick Footer Banner Ad
script(async='' type='application/javascript' src='https://a.magsrv.com/ad-provider.js')
ins.eas6a97888e(data-zoneid='4949790')
script.
  (AdProvider = window.AdProvider || []).push({"serve": {}});
// ExoClick Footer Banner Ad
  .container.text-right
    span.text-muted
      a.btn.btn-link(href='/about' target='_blank') About
      a.btn.btn-link(href='/contact' target='_blank') Contact
      a.btn.btn-link(href='/') Home
