// Monetag Ads Multi Tag
script.
  (function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://inklinkor.com/tag.min.js',5749045,document.body||document.documentElement)
// Monetag Vignette Banner
script.
  (function(d,z,s){s.src='https://'+d+'/401/'+z;try{(document.body||document.documentElement).appendChild(s)}catch(e){}})('ofleafeona.com',6217315,document.createElement('script'))
// Adsterra Social Bar
script(type='text/javascript' src='//pl22943999.profitablegatecpm.com/1c/ab/ec/1cabec1dc40bbda11882d2dc67909a4d.js')
