// Monetag Ads
script.
  (function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://inklinkor.com/tag.min.js',5749045,document.body||document.documentElement)
// Ads
// Video Slider
script(type='application/javascript' src='https://a.exdynsrv.com/video-slider.js')
script(type='application/javascript').
  var adConfig = {
  "idzone": 4916720,
  "frequency_period": 0,
  "close_after": 15,
  "on_complete": "repeat",
  "branding_enabled": 0,
  "screen_density": 30,
  "cta_enabled": 0
  };
  ExoVideoSlider.init(adConfig);
