[Unit]
Description=PsiTransfer
Documentation=https://github.com/psi-4ward/psitransfer
After=network.target
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
User=psitransfer
Restart=always
RestartSec=5s
LimitNOFILE=524288

Environment=NODE_ENV=production
Environment=PSITRANSFER_PORT=3000

WorkingDirectory=/var/www/psitransfer
ExecStart=/usr/bin/node app.js

[Install]
WantedBy=multi-user.target
