[Unit]
Description=PsiTransfer
Documentation=https://github.com/psi-4ward/psitransfer
After=network.target

[Service]
Type=simple
User=psitransfer
Restart=on-failure

Environment=NODE_ENV=production
Environment=PSITRANSFER_PORT=3000

WorkingDirectory=/var/www/psitransfer
ExecStart=/usr/bin/node /var/www/psitransfer/app.js

[Install]
WantedBy=multi-user.target
